#menu-button {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
  bottom: 15px;
  left: 15px;
  z-index: 100;
}

#menu-button i{
  font-size: x-large;
}

nav {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 300px;
    height: 300px;
    border-radius: 0 97.8% 0 0;
    clip-path: circle(97.8% at 2% 98%);
    z-index: 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  #home, #addProduct, #messages, #settings, #cart{
    border-radius: 50%;
    border: 1px rgba(204, 214, 115, 0.5) solid !important;
    width: 74px;
    height: 74px;
    position: fixed;
  }

  #home{
    bottom: 200px;
    left: 10px;
  }

  #messages{
    bottom: 164px;
    left: 96px;
  }

  #cart{
    bottom: 96px;
    left: 164px;
  }

  #settings{
    bottom: 10px;
    left: 200px;
  }

  #addProduct{
    bottom: 10px;
    left: 80px;
  }


  .buttonLabel{
    margin: 0;
    padding: 0;
    font-size: x-small;
  }