  #headerContent{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
  }

  #logo{
    width: 25px;
    height: 25px;
  }

  #cart{
    display: flex ;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px rgba(204, 214, 115, 0.5) solid !important;
    border-radius: 50%;
  }