<ion-header>
  <div id="headerContent">
    <div id="headerLeft">
      <img id="logo" [src]="logo">
    </div>
    <div id="headerCenter">
          <ion-input labelPlacement="stacked"  id="mainSearchinput" type="text" placeholder="Search">
            <i slot="start" class="fa-solid fa-magnifying-glass"></i>
          </ion-input>
    </div>
    <div id="headerRight">
      <button id="account" class="btn btn-outline-primary" routerLink="/account">
        <i class="fa-regular fa-user"></i>
      </button>
    </div>
  </div>
</ion-header>